:root {
  --blue-violet: #8e46fa;
  --night: #121212ff;
  --night-2: #0e0e10ff;
  --platinum: #e6e8e6ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.purple {
  color: var(--blue-violet);
}

body {
  background-color: var(--night);
  font-family: "Raleway", sans-serif;
  color: var(--platinum);
}

/* HEADER */

.center-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 80%;
  margin: auto;

}

.header {
  display: flex;
  color: var(--platinum);
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.header__name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__name--emoji {
  font-size: 22px;
}

.header__name--my-name {
  font-weight: 700;
}

.header__navbar__list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__navbar__list--item__link,
.header__navbar__list--item__link:visited {
  text-decoration: none;
  color: var(--platinum);
  transition: all .3s;
}

.header__navbar__list--item__link:hover {
  color: var(--blue-violet);
}

/* APRESENTAÇÃO */

.presentation {
  display: flex;
  align-items: center;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.presentation__image {
  width: 368px;
  border-radius: 50%;
}

.presentation__text__main-text {
  font-weight: 700;
  font-size: 52px;
}

.presentation__text__sub-text {
  font-weight: 300;
  font-size: 22px;
}

.presentation__text__social {
  display: flex;
  list-style: none;
  gap: 32px;
}

.presentation__text__social__list {
  transition: transform .5s;
}

.presentation__text__social__list:hover {
  transform: translateY(-5px);
}

.presentation__text__social__list__link,
.presentation__text__social__list__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue-violet);
}