:root {
  --blue-violet: #8e46fa;
  --night: #121212ff;
  --night-2: #191719;
  --platinum: #e6e8e6ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.background-gray {
  background-color: var(--night-2);
  width: 100%;
  max-width: 100%;
}

.center-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 80%;
  margin: auto;
}

.center-div {
  max-width: 80%;
  margin: auto;
}

.purple {
  color: var(--blue-violet);
}

.section-title {
  font-size: 32px;
}

body {
  background-color: var(--night);
  font-family: "Raleway", sans-serif;
  color: var(--platinum);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

body > * {
  max-width: 80%;
  margin: auto;
}

/* HEADER */

.header {
  width: 80%;
  display: flex;
  color: var(--platinum);
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.header__name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__name--emoji {
  font-size: 22px;
}

.header__name--my-name {
  font-weight: 700;
}

.header__navbar__list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__navbar__list--item__link,
.header__navbar__list--item__link:visited {
  text-decoration: none;
  color: var(--platinum);
  transition: all .3s;
}

.header__navbar__list--item__link:hover {
  color: var(--blue-violet);
}

/* APRESENTAÇÃO */

.presentation {
  display: flex;
  align-items: center;
  gap: 7px;
}

.presentation__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.presentation__image {
  width: 450px;
  border-radius: 50%;
}

.presentation__text__main-text {
  font-weight: 700;
  font-size: 52px;
}

.presentation__text__sub-text {
  font-weight: 300;
  font-size: 22px;
}

.presentation__text__social {
  display: flex;
  list-style: none;
  gap: 32px;
}

.presentation__text__social__list {
  transition: transform .5s;
}

.presentation__text__social__list:hover {
  transform: translateY(-5px);
}

.presentation__text__social__list__link,
.presentation__text__social__list__link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue-violet);
}

/* ABOUT ME */

.about-me {
  padding: 50px 0;
}

.about-me__div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me__div__title {
  width: 80%;
}

.about-me__div__text {
  font-size: 16px;
  width: 70%;
}

/* SKILLS E HOBBIES */

.skills_hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.skills_hobbies--div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.skills_hobbies--div-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 176px;
  height: 176px;
  background-color: var(--night-2);
  border-radius: 12px;
  border: 3px solid;
  border-color: var(--blue-violet);
  padding: 16px;
  gap: 8px;
  transition: transform .5s;
}

.card:hover {
  transform: translateY(-10px);
}

.card--image {
  width: 24px;
}

.card--text {
  font-weight: 700;
}

ion-icon {
  font-size: 32px;
  color: var(--blue-violet);
}

/* FORMAÇÃO ACADÊMICA */

.academic-education {
  padding: 50px 0;
  text-align: center;
}

.academic-education--div {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.academic-education--div__cards--card {
  display: flex;
  flex-direction: column;
  width: 368px;
  gap: 5px;
}

.academic-education--div__cards--card-title,
.academic-education--div__cards--card-subtitle {
  align-self: flex-start;
}


.academic-education--div__cards--card-image {
  width: 368px;
  height: 286px;
  align-self: flex-start;
  border-radius: 10px;
}

.academic-education--div__cards--card-title {
  font-size: 20px;
  font-weight: 700;
}

.academic-education--div__cards--card-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #bdbbbd;
}